<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
	<script src="angular.min.js"></script>
	<script>
		var calculatorApp = angular.module("calculatorApp", []);
		window.calculator = {
			add : function(n1,n2){
				return n1 + n2;
			},
			subtract : function(n1,n2){
				return n1 - n2;
			},
			multiply : function(n1,n2){
				return n1 * n2;
			},
			divide : function(n1,n2){
				return n1 / n2;
			},
		};

		calculatorApp.controller("calculatorController", function($scope){
			$scope.number1 = 0;
			$scope.number2 = 0;
			$scope.result = 0;

			$scope.add = function(){
				$scope.result = calculator.add($scope.number1, $scope.number2);
			};
			$scope.subtract = function(){
				$scope.result = calculator.subtract($scope.number1, $scope.number2);
			};
			$scope.multiply = function(){
				$scope.result = calculator.multiply($scope.number1, $scope.number2);
			};
			$scope.divide = function(){
				$scope.result = calculator.divide($scope.number1, $scope.number2);
			}
		});

		calculatorApp.controller("calculatorController2", function($scope){
			$scope.number1 = 0;
			$scope.number2 = 0;
			$scope.result = 0;

			$scope.operation = '';
			$scope.calculate = function(){
				$scope.result = calculator[$scope.operation]($scope.number1, $scope.number2);
			}
		});

	</script>
</head>
<body ng-app="calculatorApp" >
	<h1>Calculator</h1>
	<hr>
	<div ng-controller="calculatorController">
		<input type="number" ng-model="number1">
		<input type="number" ng-model="number2">
		<br>
		<input type="button" value="Add" ng-click="add()">
		<input type="button" value="Subtract" ng-click="subtract()">
		<input type="button" value="Multiply" ng-click="multiply()">
		<input type="button" value="Divide" ng-click="divide()">
		<div>{{result}}</div>
	</div>
	<hr>
	<div ng-controller="calculatorController2">
		<input type="number" ng-model="number1">
		<select ng-model="operation">
			<option value="add">Add</option>
			<option value="subtract">Subtract</option>
			<option value="multiply">Multiply</option>
			<option value="divide">Divide</option>
		</select>
		<input type="number" ng-model="number2">
		<input type="button" value="Calculate" ng-click="calculate()">
		<div>{{result}}</div>
	</div>
</body>
</html>